Repository backtick-se/cowait, pull requests merged in 2021-03, with the labels that each got.

#282 Default clusters are no longer overriden by cowait.yml
  cowait/cli/config.py
Labels: bug

#284 0.4.17: Environment variables from Kubernetes Secrets
  cowait/engine/docker/utils.py
  cowait/engine/kubernetes/errors.py
  cowait/engine/kubernetes/kubernetes.py
  cowait/engine/kubernetes/pod.py
  cowait/engine/kubernetes/utils.py
  cowait/engine/kubernetes/volumes.py
  cowait/tasks/definition.py
  cowait/version.py
  pyproject.toml
Labels: feature, kubernetes

#286 Increase max-length of env-variables
  cowait/engine/const.py
Labels: enhancement

#272 Notebook Dependency Management
  .github/workflows/build_images.yml
  Dockerfile
  build.sh
  cowait/cli/app/task.py
  cowait/cli/commands/notebook.py
  cowait/cli/commands/run.py
  cowait/cli/task_image.py
  cowait/notebook/task.py
  cowait/tasks/components/rpc.py
  cowait/tasks/remote_task.py
  cowait/worker/__main__.py
  cowait/worker/executor.py
  images/notebook/Dockerfile
  images/notebook/requirements.txt
  notebook/jupyter_notebook_config.py
  notebook/kernel/kernel.json
  notebook/kernel/logo-64x64.png
Labels: notebook
